@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to ... Cretaceous Park!</h1>
    <p>Get to know a few of <a href="/animals">our animals</a> from the Cretaceous period!</p>
</div>
<br>
<br>
<br>
<hr />
<p>"Your scientests were so preoccupied with whether or not they <strong>could</strong> that they didn't stop to think if they <em>should</em>." -- Ian Malcom, 1993  </p>
